@page "/person"

@inject DataSet data

<h3>Prvních 20 osob</h3>

<table class="table">
    <thead>
        <tr>
            <td>
                Jméno
            </td>
            <td>
                Příjmení
            </td>
            <td>
                Email
            </td>
            <td>
                Dat. nar.
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in peopleToShow)
        {
            <tr>
                <td>
                    @person.FirstName
                </td>
                <td>
                    @person.LastName
                </td>
                <td>
                    @person.Email
                </td>
                <td>
                    @person.DateOfBirth.ToString("dd. MM. yyyy")
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="row">
    <div class="col-2">
        @if (!prevDisabled)
        {
            <button class="btn btn-primary" @onclick="Prev">Předchozí</button>
        }
        else
        {
            <button disabled="true" class="btn btn-primary" @onclick="Prev">Předchozí</button>
        }
    </div>
    <div class="col-2 @moje">
        <button @attributes="customdataattr" class="btn btn-primary" @onclick="Next">Další</button>
    </div>
</div>




@code {
    Dictionary<string, object> customdataattr = new()
    {
        {"disabled",""}
    };

    List<BlazorApp.Model.Person> peopleToShow = new List<Model.Person>();

    private int take = 10;
    private int start = 0;
    string moje = "show";

    private bool prevDisabled = true;

    protected override void OnInitialized()
    {
        peopleToShow = data.GetData().Take(take).ToList();
    }

    void Prev()
    {
        start -= take;
        start = Math.Max(0, start);

        if (start == 0)
            prevDisabled = true;

        peopleToShow = data.GetData().Skip(start).Take(take).ToList();
    }

    void Next()
    {
        prevDisabled = false;

        start += take;
        start = Math.Min(start, data.GetData().Count - take);

        peopleToShow = data.GetData().Skip(start).Take(take).ToList();
    }
}
