@model Socks

@{
}

<h1>Detail ponožky</h1>

<p>
    id: @Model.Id
</p>
<p>
    značka: @Model.Brand
</p>
<p>
    velikost: @Model.Size
</p>
<p>
    cena: @Model.Price kč
</p>
<p>
    skladem: @Model.OnStock
</p>
